<main>
    <h1>User update</h1>

    <p>{{username}}</p>
    <form>
        <mat-form-field >
            <mat-label>Username</mat-label>
            <input matInput placeholder="New username" [(ngModel)]="newUsername" name="NewUsername">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="changeUsername()">Change username</button>
        <br>
        <mat-form-field >
            <input matInput placeholder="New password" [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword" name="NewPassword">
            <mat-icon matSuffix (click)="hide = !hide" class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="changePassword()">Change password</button>
    </form>
</main>

