<header>
    <mat-toolbar>
        <span>Ship Tracker</span>
    </mat-toolbar>
</header>
<main>
    <form>
        <mat-form-field >
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" id="username">
        </mat-form-field>
        <br>
        <mat-form-field >
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" id="password">
            <mat-icon matSuffix (click)="hide = !hide" class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </form>
    <br>

    <div *ngIf="error; then errorMessage">
        Here is never showing
    </div>

    <ng-template #errorMessage>
        <p class="error">{{message}}</p>
    </ng-template>
    <div>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <button mat-stroked-button color="primary" (click)="createuser()">Create user</button>
    </div>
</main>

<footer>

</footer>
